# Pandas DataFrame

In [8]:
import pandas as pd

data={"col1":[2,34,56,7,4],"col2":[5,3,578,4,6]}
df_data=pd.DataFrame(data)
print(df_data)
df_data

   col1  col2
0     2     5
1    34     3
2    56   578
3     7     4
4     4     6

   col1  col2
0     2     5
1    34     3
2    56   578
3     7     4
4     4     6

In [9]:
from IPython.core.display import HTML

# display(HTML(df.to_html()))
#esto para imprimir los dataframe bonito
display(HTML(df_data.to_html()))

In [29]:
import pandas as pd
from IPython.core.display import HTML
l1=[2,34,56,7,4]
l2=[5,3,578,4,6]
s_l1=pd.Series(l1)
s_l2=pd.Series(l2)

##################################definir  un df

data={"col1":s_l1,"col2":s_l2}
df_data=pd.DataFrame(data)
display(HTML(df_data.to_html())) # print

#################################asignar nombres a filas y columnas
#index para las filas
df_data.index=["id_galletas","id_bombom","id_chocolates","id_papitas","id_gomita"]
display(HTML(df_data.to_html())) # print
print("_________________________")
#columns para las columnas
df_data.columns=["tienda_1","tienda_2"]
display(HTML(df_data.to_html())) # print
print("_________________________")

################################ reemplazar nombres de filas y columnas

#siempre que trabajo sobre el mismo dataframe -> inplace=True para que efectue los cambios de inmediato
df_data.rename(index={"id_galletas":"numero_galletas","id_papitas":"numero_papitas"},inplace=True)
df_data.rename(columns={"tienda_1":"bodega_1"},inplace=True)
display(HTML(df_data.to_html())) # print
print("_________________________")

######################### modificar un dato
print("modificar un dato")
df_data.loc["id_chocolates", "tienda_2"] = 37
display(HTML(df_data.to_html())) # print
print("_________________________")


############################## Acceder a la informacion

print(len(df_data)) # tamaño filas
print(df_data.shape) # tamaño filas x col
print(df_data.index) #
print(df_data.columns) #
print(df_data.values) #
print(type(df_data.values)) #

_________________________

_________________________

_________________________
modificar un dato

_________________________
5
(5, 2)
Index(['numero_galletas', 'id_bombom', 'id_chocolates', 'numero_papitas',
       'id_gomita'],
      dtype='object')
Index(['bodega_1', 'tienda_2'], dtype='object')
[[ 2  5]
 [34  3]
 [56 37]
 [ 7  4]
 [ 4  6]]
<class 'numpy.ndarray'>

In [ ]:
archivos de datos  con diferente extension
json
.xlsx  -> excel
unicode
csv -> formato separado por comas , -> a veces por ;

# Primer ejemplo de df
https://www.kaggle.com/c/titanic/data?select=train.csv # data titanic

In [ ]:
import pandas as pd
from IPython.core.display import HTML